In [1]:
# Importing Libraries
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics.pairwise import cosine_similarity

import warnings
warnings.filterwarnings('ignore')

In [2]:
s1 = 'sunshine state enjoy sunshine'
s2 = 'brown fox jump high, brown fox run'
s3 = 'sunshine state fox run fast'

corpus = [s1, s2, s3]
print(corpus)

['sunshine state enjoy sunshine', 'brown fox jump high, brown fox run', 'sunshine state fox run fast']

In [12]:
# BoW Model
vectorizer = CountVectorizer()
bag_of_words = vectorizer.fit_transform(corpus)

feats = vectorizer.get_feature_names()
vocab = vectorizer.vocabulary_
vectors = bag_of_words.toarray()

print('Features: ', feats)
print('Vocabulary: ', vocab)

print('\nVectors:')
i = 0
for i in range(0, len(vectors)):
    print(f'S{i}:', vectors[i])
    i =+ 1

bow = pd.DataFrame(bag_of_words.toarray(), columns = feats)
display(bow)

Features:  ['brown', 'enjoy', 'fast', 'fox', 'high', 'jump', 'run', 'state', 'sunshine']
Vocabulary:  {'sunshine': 8, 'state': 7, 'enjoy': 1, 'brown': 0, 'fox': 3, 'jump': 5, 'high': 4, 'run': 6, 'fast': 2}

Vectors:
S0: [0 1 0 0 0 0 0 1 2]
S1: [2 0 0 2 1 1 1 0 0]
S2: [0 0 1 1 0 0 1 1 1]

   brown  enjoy  fast  fox  high  jump  run  state  sunshine
0      0      1     0    0     0     0    0      1         2
1      2      0     0    2     1     1    1      0         0
2      0      0     1    1     0     0    1      1         1

In [15]:
tfidf_vectorizer = TfidfTransformer()
X = tfidf_vectorizer.fit_transform(bag_of_words)
idf = pd.DataFrame({'term':feats, 'idf':tfidf_vectorizer.idf_})
display(idf)

       term       idf
0     brown  1.693147
1     enjoy  1.693147
2      fast  1.693147
3       fox  1.287682
4      high  1.693147
5      jump  1.693147
6       run  1.287682
7     state  1.287682
8  sunshine  1.287682

In [18]:
tf_idf = pd.DataFrame(X.toarray() ,columns=feats)
display(tf_idf)

,brown,enjoy,fast,fox,high,jump,run,state,sunshine
0,0.000000,0.50689,0.000000,0.000000,0.000000,0.000000,0.000000,0.385503,0.771006
1,0.670703,0.00000,0.000000,0.510087,0.335352,0.335352,0.255044,0.000000,0.000000
2,0.000000,0.00000,0.549351,0.417796,0.000000,0.000000,0.417796,0.417796,0.417796

In [19]:
# Cosine similarity b/w S1 and S3
cosine_sim = cosine_similarity(bow.iloc[[0,2]])
cosine_sim_df = pd.DataFrame(cosine_sim)
display(cosine_sim_df)

          0         1
0  1.000000  0.547723
1  0.547723  1.000000